body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.playground.ru/i/pix/3176060/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px;
}

.logo {
    width: 170px;
    height: auto;
    display: block;
    margin: 0 auto 10px; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

main {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    width: 200px;
    margin: 10px;
}
.product-item img { 
    max-width: 100%;
    height: 300px;
    margin-bottom: 10px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn_btn-primary {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    width: 200px;
    margin: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.centered-image {
    width: 600px;
    height: 400px;
}
.figcaption {
    color: #b8b5bd;
}
.card {
    background-color: transparent; 

}
.card-title, .card-text {
    color: #ffffff !important;
}
#node_for_insert .product-item {
    color: #ffffff !important;
}
